* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #413d4b;
}

.font {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.wrapper {
    margin: 0 auto;
    max-width: 940px;
}

.header-wrap {
    background: #362b58 url(../img/bg-header.jpg);
    background-size: cover;
    height: 100vh;
}

.header {
    padding: 15px 10px 205px 10px;
    color: #fff;
}

.header-top {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
}

.menu li a:hover {
    color: #00e0d0;
}

.menu li a:active {
    opacity: 0.5;
}

.header-main {
    padding-top: 180px;
    margin: 0 auto;
    text-align: center;
    max-width: 750px;
}

.header-main h1 {
    font-style: 32px;
    font-weight: 900;
    margin-bottom: 50px;
}

.header-main p {
    line-height: 24px;
    margin-bottom: 50px;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #00e0d0;
    border: 1px solid #00e0d0;
}

.link-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.link-button:active {
    opacity: 0.5;
}

@media (max-width: 800px) {
    .wrapper {
        max-width: 500px;
    }
    .header {
        padding-bottom: 80px;
    }
    .header-main {
        padding-top: 80px;
    }
    .menu li a {
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .font {
        font-size: 13px;
    }
    .header-top {
        align-items:flex-start;
    }
    .logo {
        margin: 30px 0 0 30px;
    }
    .menu {
        flex-direction: column;
        margin-top: 20px;
    }
    .menu li {
        margin: 0 30px 30px 0;
    }
    .header-main {
        padding-top: 30px;
    }
    .header-main p {
        margin-bottom: 20px;
    }
}

.content {
    padding: 70px 10px 0 10px;
}

.history {
    margin-left: 70px;
    margin-bottom: 70px;
    display: flex;
}

.history-text {
    margin-left: 85px;
}

.history-img {
    align-self:flex-start;
}

.history-text-header {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 24px;
}

.history-text p {
    margin-bottom: 24px;
    line-height: 24px;
}

@media (max-width: 800px) {
    .history {
        flex-direction: column;
        margin: 0 auto 70px auto;
    }
    .history-text {
        margin: 0 auto;
        text-align: center;
    }
    .history-img {
        width: 150px;
        height: 150px;
        margin: 0 auto 24px auto;
    }
}

.form {
    max-width: 460px;
    margin: 0 auto 100px auto; 
}

.form h2 {
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    outline: none;
}

.textarea {
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    outline: none;
    height: 150px;
    margin-bottom: 20px;
}

.form-button {
    padding: 10px 20px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: #00e0d0;
    border: 1px solid #00e0d0;
    background: none;
    align-self: center;
    cursor: pointer;
}

.form-button:active {
    opacity: 0.5;
}

.footer-wrap {
    background: #362b58 url(../img/bg-footer.jpg);
    background-size: cover;
}

.footer {
    padding: 70px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:#fff;
    font-weight: 500;
}

@media (max-width: 500px) {
    .footer {
        flex-direction: column;
    }
    .footer p {
        margin-top: 40px;
    }
}
